  <main>
    <%= form_with(model: @user, local: true) do |form| %>
    <h2 class="text-center mt-5">ユーザ情報修正</h2>
    <table width="50%" style="margin-left:350px">
      <tr height="40">
        <td align="left">
          氏名
          <span style="float: right">姓</span>
        </td>
        <td>
          <%= form.text_field :last_name, maxlength: 10 %>
        </td>
        <td>
          <span style="float: left">名</span>
          <%= form.text_field :first_name, maxlength: 10 %>
        </td>
      </tr>

      <tr height="40">
        <td align="left">
          住所<span style="float: right">〒</span>
        </td>
        <td colspan="2">
        <%= form.text_field :zipcode, size: "25" %>
        </td>
      </tr>

      <tr height="40">
        <td align="left">
          都道府県
        </td>
        <td colspan="2">
          <%= form.text_field :prefecture, maxlength: 5 ,size: "50" %>
        </td>
      </tr>

      <tr height="40">
        <td align="left">
          市町村区
        </td>
        <td colspan="2">
          <%= form.text_field :municipality, maxlength: 10 ,size: "50" %>
        </td>
      </tr>

      <tr height="40">
        <td align="left">
          番地
        </td>
        <td colspan="2">
          <%= form.text_field :address, maxlength: 50 ,size: "50" %>
        </td>
      </tr>

      <tr height="40">
        <td align="left">
          マンション<br>部屋番号</br>
        </td>
        <td colspan="2">
          <%= form.text_field :apartments, maxlength: 20 ,size: "50" %>
        </td>
      </tr>

      <tr height="40">
        <td align="left">
          メールアドレス
        </td>
        <td colspan="2">
          <%= form.email_field :email, size: "65" %>
        </td>
      </tr>

      <tr height="40">
        <td align="left">
          電話番号
        </td>
        <td colspan="2">
          <%= form.text_field :phone_number, size: "65" %>
        </td>
      </tr>
      <tr height="40">
        <td align="left">
          パスワード
        </td>
        <td colspan="2">
          <%= form.password_field :password, size: "50" %>
        </td>
      </tr>
      <tr height="40">
        <td align="left">
          パスワード(再入力)
        </td>
        <td colspan="2">
          <%= form.password_field :password_confirmation, size: "50" %>
        </td>
      </tr>
    </table>

    <div class="row mt-5">
      <div class="col-5">
        <div class="d-flex justify-content-end">
          <%= button_to '修正', '/users/:id', { method: :put, class: "btn btn-primary" } %>
        </div>
      </div>

      <div class="col-5 offset-2">
        <button class="btn btn-danger" type="submit">退会</button>
      </div>
    </div>
    <% end %>
  </main>
