<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>ユーザー詳細</title>
</head>

<body>
<%= render 'layouts/header.html.erb' %>
  <main>

    <section class="text-center pt-5 pb-2">
      <h2 class="mb-4">ユーザ情報</h2>
      <div class="container-fluid">
        <table class="table user-table">
          <tbody>
            <tr>
              <td class="text-center">
                ユーザID
              </td>
              <td>
                <%= @user.id %>
              </td>
            </tr>

            <tr>
              <td class="text-center">
                氏名
              </td>
              <td>
                <%= "#{@user.first_name} #{@user.last_name}" %>
              </td>
            </tr>

            <tr>
              <td class="text-center">
                住所
              </td>
              <td>
                <%= "〒#{@user.zipcode[0..2]}-#{@user.zipcode[3..6]}" %><br>
                <%= "#{@user.prefecture}#{@user.municipality}#{@user.address}#{@user.apartments}" %>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                電話番号
              </td>
              <td>
                <%= @user.phone_number %>
              </td>
            <tr>
              <td class="text-center">
                メールアドレス
              </td>
              <td>
                <%= @user.email %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <div class="text-center">
      <a class="btn btn-primary" href="#" role="button">修正/退会する</a>
    </div>
<%= render 'layouts/footer.html.erb' %>
  </main>

</body>

</html>
