<% provide(:title, "商品詳細") %>

  <main>
    <% if @product.present? %>
      <div class="container">
        <div class="mt-5 jumbotron bg-white">
          <h1 class="text-center"><%= @product.product_name %></h1>
          <h2 class="text-center">商品<%= @product.id%></h2>
          <div class="offset-sm-3">
            <p class="offset-sm-6"><%= @product.category.category_name %></p>
            <p><%= @product.description %></p>
            <p>探求学園Rails専攻限定商品！</p>
            <p class="mt-4 mb-5"><%= @product.price %></p>
          </div>

          <%= form_with(url: add_item_path, local: true) do |f| %>

            <div class="row justify-content-center">
              <%= f.label :購入個数, class:'mt-1 col-sm-1' %>
              <div class="col-sm-1">
                <%= f.number_field :quantity, class:'form-control',  min: 1, max:999, required:true %>
              </div>
              <%= f.label :個, class:'mt-1 col-sm-1' %>

              <%= f.text_field :product_id ,value:@product.id  ,hidden:true %>

              <div class="col-sm-2">
                <%= f.submit "カートへ", class: 'btn btn-primary btn-block' %>
              </div>
            </div>

          <% end %>

        </div>
      </div>
    <% else %>
      <div class="container">
        <div class="mt-5 text-center">
          <h1>該当商品が見つかりませんでした…</h1>
          <p class="mt-5">商品検索画面に戻り、やり直してください</p>
          <%= link_to "商品検索画面へ", products_path, type: "button", class: "btn btn-primary" %>
        </div>
      </div>
      </div>
    <% end %>
  </main>
